div#top {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(168, 8, 8);
}

div#me {
    height: 10vh;
    background-color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
}

div#onlineusers {
    height: 80vh;
    background-color: rgb(247, 247, 247);
}

#onlinedot {
    background-color: rgb(11, 201, 11);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}